* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #ddd;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header"
        "account-creation"
        "login-links"
        "footer";
    height: 100vh;
}

.header {
    grid-area: header;
    text-align: center;
}

.login-links {
    grid-area: login-links;
    text-align: right;
    padding: 20px;
}

.account-creation {
    grid-area: account-creation;
    display: grid;
    justify-content: center;
}

.account-creation-text {
    display: grid;
    text-align: center;
    padding-bottom: 25px;
}

.signup-form {
    display: grid;
    place-items: center;
    width: 600px;
    padding: 25px;
    background-color: #f8f8f8;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 0;
}

small {
    font-size: x-small;
    margin: 0 auto 20px auto;
    padding-top: 0;
}

.invalid {
    border-color: crimson;
}

.valid {
    border-color: rgb(45, 171, 45);
}

button {
    width: 100px;
    padding: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    padding-top: 50px;
}