:root {
    --width: calc(100vw / 2.6);
    --color: #0891B2;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}


h1 {
    margin: 20px;
    font-weight: 400;
    font-size: 60px;
    color: #FFFBF5;
    text-align: center;
}

.background-color {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 0, 111% 0, 0 85%);
    background-color: var(--color);
}

@keyframes groove {
    from {
        clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 0% 100%);
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 55%);
    }
}


.heroPicture {
    width: var(--width);
    height: calc(var(--width) + 25px);
    margin: 60px;
    top: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
    display: inline-block;
}

.heroPicture>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s ease-in-out;
}

.heroPicture>img:hover {
    filter: sepia(69%);
}

.heroPicture>figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.heroInfo {
    background-color: #FFFBF5;
    position: absolute;
    width: calc(100vw / 1.9);
    height: calc(var(--width) - 56px);
    right: 0;
    margin: 60px;
    padding-left: 4%;
    top: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.clip {
    display: none;
    visibility: hidden;
}

h2 {
    padding-top: 12px;
    font-weight: 500;
    font-size: 2em;
}

.heroInfo>p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 150%;
    color: lightslategrey;
    margin-right: 25px;
}

.social {
    position: absolute;
    bottom: 20px;
    right: 25px;
    display: flex;
}

.social>a {
    text-decoration: none;
    padding-left: 20px;
    transition: 0.5s ease-in-out;
}

.social>a>span {
    font-size: 1.6em;
    width: auto;
    color: black;
}

.social>a:hover {
    scale: 1.2;
}

main {
    display: grid;
    font-family: 'Playfair Display', serif;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: 
        "title title title";
    justify-items: center;
    padding: 45px;
}

.title {
    grid-area: title;
    justify-self: flex-start;
    padding-left: 50px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 2fr;
    grid-template-areas: 
        "project-image"
        "project-name"
        "project-desc";
    align-self: center;
    margin-bottom: 30px;
    width: 275px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    position: relative;

}

.open-in-new {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/open-in-new.svg);
}

.project-image {
    grid-area: project-image;
    width: 100%;
    height: 100%;
    background-color: darkred;
    position: absolute;
    top: 0;
    left: 0;

    >h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        font-size: 24px;
        margin: 0;
    }
}

.project-image.one {
    background-color: transparent;
    background-image: url('../images/Project1CFR.png');
    background-size: cover;
}

.project-image.three {
    background-color: transparent;
    background-image: url('../images/Project2CFR.png');
    background-size: cover;
}

.project-image.five {
    background-color: transparent;
    background-image: url('../images/Project3CFR.png');
    background-size: cover;
}

.project-name {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    grid-area: project-name;
    font-size: 18px;
    padding: 0 15px;

    >button {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
        margin-left: 15px;
    }
}

.project-desc {
    grid-area: project-desc;
    padding: 0 15px;
}

footer {
    width: 100%;
    color: #fff;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: space-around;
}

footer>section {
    width: 48vw;
    padding: 0 30px;
}

.footer-left {

    .icon {
        display: inline-block;
        filter: invert(1);
        width: 25px;
        height: 18px;
        background-repeat: no-repeat;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .phone {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .phone-outline {
        background-image: url(../images/phone-outline.svg);
        float: left;
    }

    .email-outline {
        background-image: url(../images/email-outline.svg);
        float: left;
    }

    .email {
        text-decoration: none;
        color: #fff;
    }
}

.social-two {
    padding-top: 12px;
}

.social-two>a {
    text-decoration: none;
    padding-right: 20px;
    color: black;
    font-size: 1.5em;
    transition: 0.5s ease-in-out;
}

.social-two>a:hover {
    font-size: 2em;
    color: #fff;
}

.footer-right {
    width: 500px;
}

.footer-right>img {
    width: 100%;
    padding: 20px 0 20px 20px;
    filter: sepia(69%);
    transition: 0.7s ease-in-out;
}

.footer-right>img:hover {
    filter: sepia(0%);
}

@media screen and (max-width: 834px)  {
    .heroPicture {
        margin: 40px;
        width: calc(100vw / 2.1);
        height: calc(100vw / 2.1);
        overflow: visible;
    }
    .heroPicture>figure {
        position: absolute;
        top: -12px;
        right: -75%;
    }
    .heroInfo {
        width: auto;
        height: calc(100vw / 2.1);
        margin: 90px;
        padding: 20px;
    }
    .clip {
        display: block;
        visibility: visible;
        width: 57%;
        height: 80%;
        float: left;
    }
    .heroInfo>h2 {
        padding-top: 0;
    }
    .heroInfo>p {
        padding: 0 20px 0 0;
        margin-right: 0;
        font-size: 0.99em;
    }
    .social {
        display: none;
        visibility: hidden;
    }
    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100px auto auto auto;
        grid-template-areas: "title title";
    }
    footer>section {
        width: 35vw;
        height: auto;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .contact-us {
        padding-bottom: 20px;
    }
    .footer-right>img {
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 430px) {
    .heroPicture {
        display: block;
        width: 100%;
        margin: 0;
        padding: 40px;
        height: 600px;
        box-shadow: none;
    }
    .heroPicture>figure {
        position: relative;
        top: -200px;
        right: auto;
        bottom: 120px;
    }
    .heroInfo {
        margin: 0;
        padding: 12px 12px 40px 12px;
        box-shadow: none;
        width: 100%;
        height: fit-content;
        position: relative;
        display: block;
        background-color: transparent;
    }
    .clip {
        display: none;
        visibility: hidden;
    }
    .heroInfo>h2 {
        margin-left: 20px;
    }
    .heroInfo>p {
        margin: 12px;
        padding: 12px;
        font-size: 1em;
    }
    .social {
        display: block;
        visibility: visible;
        margin-right: 20px;
        padding-bottom: 20px;
    }
    main {
        display: block;
        width: 100vw;
    }
    .card {
        width: 100%;
    }
    footer {
        display: block;
        padding-bottom: 0;
    }
    footer>section {
        width: 100%;
    }
    .contact-us>h3 {
        font-size: 2em;
        text-align: center;
    }
    .social-two {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        align-content: space-around;
    }
    .footer-right {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .footer-right>img {
        width: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }
}
/*
sizes acording
https://devfacts.com/media-queries-breakpoints-2023/
*/